.container {
  display: flex;
  height: 100%;

  & div {
    // flex-basis: 50%;
    &:first-child {
      background-color: #FFFF;
    }
    &:last-child {
      background-color: #2A6BB9;
    }
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
}

.form {
  display: flex;
  flex-direction: column;

  & label {
    text-align: left;
    font-family: Helvetica Neue;
    font-size: 17px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }

  & input {
    border: 1px solid #3371BC;
    width: 353px;
    height: 48px;
    outline: none;
    border-radius: 4px;
    opacity: 1;
    margin-bottom: 26px;
    padding: 16px;
  }

  & button {
    margin-top: 22px;
    width: 353px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #7228002B;
    border: 1px solid #2A6BB9;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;
    color: #2D6DBA;
    outline: none;

    font: normal normal normal 16px/18px Helvetica Neue;
    letter-spacing: 0px;
    color: #2D6DBA;
    opacity: 1;

  }

}
