.input-filter {
  flex: 1;
  margin-right: 10px;
}

.box-input-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex: 1;
}

.form-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.button {
  width: 100%;
}
